// Default

.container {
  max-width: 38rem;
  margin: 0 auto;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  min-height: 4rem; 
  
  & a {
    color: var(--gray-600);
    padding: .8rem;
    text-decoration: none;
    
    &:hover {
      color: var(--gray-900);
    }
  }
}

// Navigation

.active {
  color: var(--body-color);
}

// Page

.page {
	padding: 1rem;
	background-color: var(--content-bg);
}

.page-nav {
	text-align: center;
	background-color: var(--content-bg);
	padding: .5rem;
	border-bottom: 1px solid var(--gray-200);
}

// Post

.post {
  padding: 1rem;
  background-color: var(--content-bg);
}

.post-nav {
	background-color: var(--content-bg);
	padding: 1rem;
	border-bottom: 1px solid var(--gray-200);
}

.disqus {
	margin: 1rem 0;
	padding: 1rem;
	background-color: var(--content-bg);
}

// Home

.group-name {
  margin: 0;
	padding: 1rem 0;
}

.group-date {
  width: 4rem;
  float: left;
}
